streamlit == 1.45.0
fastapi == 0.115.12
pydantic == 2.11.3
uvicorn == 0.34.1
mysql-connector-python == 9.3.0
requests == 2.32.3
pandas == 2.2.3
numpy==2.2.4
plotly == 6.0.1
altair == 5.5.0
pytest == 8.3.5

